<div class="component">
  <header>
    <span class="page-title">User List</span>
    <span> | <a routerLink='/users/create'>Create new</a></span>
  </header>
  <table class="table table-sm">
    <thead>
      <tr>
        <th>ID</th>
        <th>Name</th>
        <th>Username</th>
        <th>Phone</th>
        <th>Email</th>
        <th>Reviewer?</th>
        <th>Admin?</th>
        <th>Actions</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let user of users">
          <td>{{user.Id}}</td>
          <td>{{user.FirstName}} {{user.LastName}}</td>
          <td>{{user.UserName}}</td>
          <td>{{user.Phone}}</td>
          <td>{{user.Email}}</td>
          <td>{{user.IsReviewer ? "Yes" : "No"}}</td>
          <td>{{user.IsAdmin ? "Yes" : "No"}}</td>
          <td>
            <span><a routerLink="/users/detail/{{user.Id}}">View</a></span>
             | <span><a routerLink="/users/edit/{{user.Id}}">Edit</a></span>
          </td>
        </tr>
    </tbody>
  </table>
</div>